/*
 * Styles specfic to a plant monitoring application.
 */

/*
 * Calendar containing months in what various activities should be carried out.
 * Each month may have a checkbox input.
 */
.activity-calendar {
    table-layout: fixed;
    border-spacing: 10px;
    border-collapse: separate;
}
/*
 * Checkbox inputs can't be styled.  Style the label instead.
 */
.activity-calendar input[type=checkbox] {
    display: none;
}
.activity-calendar tr {
    /* Expand cells within the rows. */
    height: 30px;
}
.activity-calendar td {
    height: 100%;
    min-width: 30px;
}
.activity-calendar label {
    display: block;
    min-height: 100%;
    background-color: lavenderblush;
    border-radius: 0.5em;
}
.activity-sow input[type=checkbox]:checked + label {
    background-color: blue;
}
.activity-plant input[type=checkbox]:checked + label {
    background-color: lawngreen;
}
.activity-harvest input[type=checkbox]:checked + label {
    background-color: yellow;
}

.colourpicker span {
}
.colourpicker input[type=radio] {
    display: none;
}
.colourpicker label {
    cursor: pointer;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 0.5em;
}
.colourpicker input[type=radio]:checked + label {
    border: 4px solid silver;
}

.phases {
}

.phases > div {
    clear: both;
}

.batches {
    padding-left: 0.5em;
    list-style-type: none;
    width: auto;
}

.batches li {
    float: left;
    width: 50%;
    padding: 0.5em;
}

.batches .box {
    cursor: pointer;
    border: 1px solid silver;
    padding: 0;
}

.batches .box:hover {
    background-color: lightgray;
}

.batch {
    border-left: 12px solid;
    padding: 0.5em;
}

/*
 * Table with clickable rows.
 */

.action-table {
    width: 100%;
}

.action-table tr {
    cursor: pointer;
}

.action-table tr:hover {
    background-color: lightgray;
}

/*
 * Weather.
 */

.weather-list {
    width: auto;
}

.weather-list > div {
    float: left;
    height: 12em;
    text-align: center;
    margin-bottom: 1.2em;
    padding: 0.6em;
    background-origin: content-box;
}

/*Very large screens can display seven weather cards.*/
.weather-list > div {
    width: 14.2%;
}

@media all and (max-width:1300px) {
    .weather-list > div {
        width: 25%;
    }
}

@media all and (max-width:800px) {
    .weather-list > div {
        width: 50%;
    }
}

@media all and (max-width:400px) {
    .weather-list > div {
        width: 100%;
    }
}


.weather-list div .weather-container {
    margin: 0.6em;
    width: 100%;
    height: inherit;
}

.weather-list div .weather-container-active {
    cursor: pointer;
    background-color: #65b9eb;
}

.weather-list div .weather-container-active:hover {
    background-color: #407594;
}

.weather-list div .weather-container-inactive {
    background-color: #7b9bad;
}

/*Container for two columns of weather data.*/
.weather-container .weather-temperature-container {
    width: 100%;
}

.weather-container .weather-temperature-container div {
    float: left;
    width: 50%;
    padding: 0;
}

.weather-temperature-container-large {
    font-size: large;
}

.weather-list div br {
    display: block;
    margin-top: 1.5em;
}

.weather-list:after {
    content: "";
    display: table;
    clear: both;
}

.weather-icon {
    font-size: 3.5em;
}

.cardmenu {

}

.cardmenu > div {
    width: 16.6%;
    float: left;
    text-align: center;
    margin-bottom: 1.2em;
    padding: 0.6em;
    background-origin: content-box;
}

.cardmenu > div > .cardmenu-container {
    border-radius: 1em;
    background-color: #e0e0e0;
}

@media all and (max-width:1300px) {
    .cardmenu > div {
        width: 25%;
    }
}

@media all and (max-width:800px) {
    .cardmenu > div {
        width: 50%;
    }
}

@media all and (max-width:400px) {
    .cardmenu > div {
        width: 100%;
    }
}
